<div class="grid-container">
  <h1 class="mat-h1">{{ titulo }}</h1>
  <button mat-raised-button color="primary" routerLink="/razas">Regresar</button>

  <mat-grid-list cols="1"  rowHeight="800px">
    <mat-grid-tile>
      <mat-card class="dashboard-card" class="card-with-dynamic-height">
        <mat-card-content class="dashboard-card-content">


            <form>
              <div class="mb-3 m-5">
                <label class="form-label" for="nombre">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  name="nombre"
                  [(ngModel)]="model.nombre"
                  placeholder="Nombre de la raza"
                />
                <div class="alert alert-danger" *ngIf="error?.nombre">
                  {{ error.nombre }}
                </div>
              </div>

              <div class="mb-3 m-5" *ngIf="!model.fotoHashCode && model?.id">
                <img
                src="../../../assets/images/no-foto-mascota.png"
                class="img-thumbnail"
                style="width: 120px; border-radius: 30px;">
              </div>
              <div class="mb-3 m-5" *ngIf="model?.fotoHashCode && model?.id">
                <label class="form-label" for="fotoAnterior">Foto anterior</label>
                <div class="mb-2 m-2">
                <img
                [src]="URL + 'ver-foto/' + model.id + '?fotoHashCode=' + model.fotoHashCode"
                class="img-thumbnail"
                style="width: 250px; border-radius: 30px;">
                </div>
              </div>


              <div class="mb-3 m-5">
                <label class="form-label" for="foto">Foto</label>
                <input (change)="subirFoto($event)"
                  type="file"
                  class="form-control"
                  id="foto"
                  aria-describedby="inputGroupFileAddon04"
                  aria-label="Upload"
                />
              </div>


              <div class="mb-5 form-check m-4">
                <button
                  type="submit"
                  mat-raised-button color="accent"
                  (click)="model.id ? editar() : crear()"
                >
                  Guardar
                </button>
              </div>
            </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
